[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = aaaa
[access "refs/*"]
	owner = group user/sunqingquan
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/sunqingquan
	label-Verified = -1..+1 group user/sunqingquan
	push = group user/sunqingquan
	read = group user/sunqingquan
	rebase = group user/sunqingquan
	removeReviewer = group user/sunqingquan
	submit = group user/sunqingquan
[access "refs/heads/*"]
	create = group user/sunqingquan
	push = +force group user/sunqingquan
	pushMerge = group user/sunqingquan
	read = group user/sunqingquan
[access "refs/tags/*"]
	push = group user/sunqingquan
	push = +force group user/sunqingquan
